
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu Item</title>
    <link rel="stylesheet" type={% static 'assets/css/style.css' %}" href="{% static 'some_app/css/some_app.css' %}" />
</head>
<body>
    <div id="categories" class="mega_main_menu categories primary_style-flat icons-left first-lvl-align-left first-lvl-separator-smooth direction-horizontal fullwidth-disable pushing_content-disable mobile_minimized-enable dropdowns_trigger-hover dropdowns_animation-none no-search no-woo_cart no-buddypress responsive-enable coercive_styles-disable indefinite_location_mode-disable language_direction-ltr version-2-1-7 mega_main" style="z-index: 990;">
        <div class="menu_holder">
        <div class="mmm_fullwidth_container"></div>
        <div class="menu_inner" role="navigation">
        <span class="mobile_toggle" data-target="#main_ul-categories" aria-expanded="false" role="button" aria-controls="main_ul-categories">
        <span class="mobile_button">
        Menu &nbsp;
        </span>
        </span>
        </span>
        <ul id="main_ul-categories" class="mega_main_menu_ul" role="menubar" aria-label="Menu">
        <li id="menu-item-14734" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children first menu-item-14734 default_dropdown default_style drop_to_right submenu_default_width columns3">
            <a href="#" class="item_link  disable_icon" aria-haspopup="true" aria-expanded="false" role="menuitem" tabindex="0">
            <i class=""></i>
            <span class="link_content"></span>
            <a href="#" class="item_link  disable_icon" aria-haspopup="true" aria-expanded="false" role="menuitem" tabindex="0">
            <i class=""></i>
            <span class="link_content">
            <span class="link_text">
            Television
            </span>
            </span>
            </a>
            <ul class="mega_dropdown" aria-expanded="false" aria-hidden="true" role="menu" aria-label="Television">
                <li id="menu-item-14737" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14737 default_dropdown default_style drop_to_right submenu_default_width columns1">
                    <a href="#" class="item_link  disable_icon" role="menuitem" tabindex="0">
                    <i class=""></i>
                    <span class="link_content">
                    <span class="link_text">
                    LCD TV
                    </span>
                    </span>
                    </a>
                </li>
                <li id="menu-item-14750" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14750 default_dropdown default_style drop_to_right submenu_default_width columns1">
                    <a href="#" class="item_link  disable_icon" role="menuitem" tabindex="0">
                    <i class=""></i>
                    <span class="link_content">
                    <span class="link_text">
                    LED TV
                    </span>
                    </span>
                    </a>
                </li>
                <li id="menu-item-14751" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14751 default_dropdown default_style drop_to_right submenu_default_width columns1">
                    <a href="#" class="item_link  disable_icon" role="menuitem" tabindex="0">
                    <i class=""></i>
                    <span class="link_content">
                    <span class="link_text">
                    Curved TV
                    </span>
                    </span>
                    </a>
                </li>
                <li id="menu-item-14752" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14752 default_dropdown default_style drop_to_right submenu_default_width columns1">
                    <a href="#" class="item_link  disable_icon" role="menuitem" tabindex="0">
                    <i class=""></i>
                    <span class="link_content">
                    <span class="link_text">
                    Plasma TV
                    </span>
                    </span>
                    </a>
                </li>
            </ul>
        </li>
        <li id="menu-item-14747" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-14747 default_dropdown default_style drop_to_right submenu_default_width columns1">
            <a href="#" class="item_link  disable_icon" aria-haspopup="true" aria-expanded="false" role="menuitem" tabindex="0">
            <i class=""></i>
            <span class="link_content">
            <span class="link_text">
            Refrigerator
            </span>
            </span>
            </a>
            <ul class="mega_dropdown" aria-expanded="false" aria-hidden="true" role="menu" aria-label="Refrigerator">
                <li id="menu-item-14753" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14753 default_dropdown default_style drop_to_right submenu_default_width columns1">
                    <a href="#" class="item_link  disable_icon" role="menuitem" tabindex="0">
                    <i class=""></i>
                    <span class="link_content">
                    <span class="link_text">
                    LG
                    </span>
                    </span>
                    </a>
                </li>
                <li id="menu-item-14754" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14754 default_dropdown default_style drop_to_right submenu_default_width columns1">
                    <a href="#" class="item_link  disable_icon" role="menuitem" tabindex="0">
                    <i class=""></i>
                    <span class="link_content">
                    <span class="link_text">
                    Samsung
                    </span>
                    </span>
                    </a>
                </li>
                <li id="menu-item-14755" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14755 default_dropdown default_style drop_to_right submenu_default_width columns1">
                    <a href="#" class="item_link  disable_icon" role="menuitem" tabindex="0">
                    <i class=""></i>
                    <span class="link_content">
                    <span class="link_text">
                    Toshiba
                    </span>
                    </span>
                    </a>
                </li>
                <li id="menu-item-14756" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14756 default_dropdown default_style drop_to_right submenu_default_width columns1">
                    <a href="#" class="item_link  disable_icon" role="menuitem" tabindex="0">
                    <i class=""></i>
                    <span class="link_content">
                    <span class="link_text">
                    Panasonic
                    </span>
                    </span>
                    </a>
                </li>
            </ul>
        </li>
        <li id="menu-item-14749" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-14749 default_dropdown default_style drop_to_right submenu_default_width columns1">
            <a href="#" class="item_link  disable_icon" aria-haspopup="true" aria-expanded="false" role="menuitem" tabindex="0">
            <i class=""></i>
            <span class="link_content">
            <span class="link_text">
            Air conditioners
            </span>
            </span>
            </a>
            <ul class="mega_dropdown" aria-expanded="false" aria-hidden="true" role="menu" aria-label="Air conditioners">
        <li id="menu-item-14758" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14758 default_dropdown default_style drop_to_right submenu_default_width columns1">
            <a href="#" class="item_link  disable_icon" role="menuitem" tabindex="0">
            <i class=""></i>
            <span class="link_content">
            <span class="link_text">
            Samsung
            </span>
            </span>
            </a>
        </li>
        <li id="menu-item-14759" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14759 default_dropdown default_style drop_to_right submenu_default_width columns1">
            <a href="#" class="item_link  disable_icon" role="menuitem" tabindex="0">
            <i class=""></i>
            <span class="link_content">
            <span class="link_text">
            Panasonic
            </span>
            </span>
            </a>
        </li>
        <li id="menu-item-14760" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14760 default_dropdown default_style drop_to_right submenu_default_width columns1">
            <a href="#" class="item_link  disable_icon" role="menuitem" tabindex="0">
            <i class=""></i>
            <span class="link_content">
            <span class="link_text">
            Sanaky
            </span>
            </span>
            </a>
        </li>
        <li id="menu-item-14761" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14761 default_dropdown default_style drop_to_right submenu_default_width columns1">
            <a href="#" class="item_link  disable_icon" role="menuitem" tabindex="0">
            <i class=""></i>
            <span class="link_content">
            <span class="link_text">
            Toshiba
            </span>
            </span>

</body>
</html>
{% endblock %}